@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;500&family=Merienda&family=Montserrat&display=swap');
.markdown {
  background-color: #f2cc8f;
  color: #fff;
  height: 100vh;
}
.pad {
  height: 100vh;
  background-color: #f4f1de;
}
textarea {
  background-color: #f4f1de;
  border: 1px #f2cc8f;
}
.header {
  text-align: center;
  font-family: 'Merienda', cursive;
  margin-top: 1em;
  margin-bottom: 1em;
}
.full-height {
  height: 80%;
  width: 100%;
}
.edit-pad {
  padding: 3px;
}